.close-button {
	width: 15px;
	height: 15px;
	padding: 15px;
	background: red;
	border-radius: 6px;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	color: white;
}
.next, .success-message, .failure-message, .hidden,.end  {
	display: none;
}
.next.success, .next.failure {
	display: block;
}
.next.success .success-message {
	display: block;
}
.next.failure .failure-message {
	display: block;
}

.start .buttons {
	display : -webkit-flex;
	display : -ms-flexbox;
	display : flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.buttons button {
    margin-top: 50px;
    height: 50px;
}
.quizz .answers {
    display : -webkit-flex;
    display : -ms-flexbox;
    display : flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px
}

.answers {
    height: 50px;
    width: calc(50% - 10px);
    display : -webkit-flex;
    display : -ms-flexbox;
    display : flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    background: lightgray;
    margin: 5px;
}
.answers button {
    margin-top: 50px;
    height: 50px;
}

.start-timer {
    position: absolute;
    width: 130px;
    height: 20px;
    top: 60px;
    left: 25px;
    cursor: pointer;
}

.stop-timer {
    position: absolute;
    width: 130px;
    height: 20px;
    top: 85px;
    left: 25px;
    cursor: pointer;
}